name: Build Standalone Linux ARM64

on:
  push:
    branches: [ "main", "dev" ]
  workflow_dispatch:

jobs:
  build-linux-arm64:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Build executable for linux-aarch64
        uses: espressif/python-binary-action@v1
        with:
          target: linux-aarch64
          requirements: requirements.txt

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: lncrawl-linux-arm64
          path: dist/lncrawl
